.search {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.search--empty {
  align-items: center;
  color: var(--font-color-light);
  display: flex;
  flex: 1;
  font-size: 20px;
  height: 100%;
}

.search--empty p {
  text-align: center;
  margin: 0 auto;
  white-space: pre-wrap;
}

.search__form {
  background-color: var(--bg-color);
  display: flex;
  padding: 16px;
}

.search__input {
  background: white;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  color: var(--font-color);
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 8px;
  width: 100%;
}

.search__input::placeholder {
  color: var(--font-color-light);
}

.search__content {
  height: 100%;
  max-height: 80%;
  overflow-y: auto;
  padding: 8px;
}

.filtered-product {
  color: var(--font-color);
  display: flex;
  padding-bottom: 8px;
}

.filtered-product:hover {
  cursor: pointer;
}

.filtered-product__image {
  width: 25%;
}

.filtered-product__name {
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  white-space: pre-wrap;
  padding: 0 8px;
}

.filtered-product__price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.filtered-product__installments {
  color: var(--font-color-light);
  font-size: 13px;
}
