.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 4px;
}

.product-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.5s;
}

.product-card__image {
  height: 100%;
  position: relative;
}

.product-card__sale {
  background-color: #683f4b;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
  position: absolute;
  right: 0;
}

.product-card__name {
  color: #212529;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.product-card__price {
  font-size: 14px;
  padding-bottom: 4px;
  text-align: center;
}
