.product {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.product__image {
  height: 100%;
}

@media screen and (min-width: 420px) {
  .product {
    flex-direction: row;
  }
}

.product__detail {
  padding: 16px;
}

.product__name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.05rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.product__price {
  color: #a7a7a7;
  font-weight: bold;
  margin-bottom: 16px;
}

.product__price--black {
  color: black;
  margin-right: 8px;
}

.product__size {
  color: #a7a7a7;
  font-size: 14px;
}

.product__size-options {
  margin-bottom: 8px;
  margin-top: 8px;
}

.product__size-option {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
  padding: 8px;
  width: 42px;
}

.product__size-option:hover {
  border-color: black;
  cursor: pointer;
}

.product__size-option--disabled {
  opacity: 0.2;
}

.product__size-option--disabled:hover {
  cursor: not-allowed;
}

.product__button {
  background-color: #212529;
  border-radius: 8px;
  border: none;
  bottom: 16px;
  box-shadow: 3px 3px 12px -4px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  padding: 8px;
  position: sticky;
  width: 100%;
}

@media screen and (min-width: 420px) {
  .product__button {
    position: static;
  }
}

.product__button:hover {
  background-color: #212529d2;
  cursor: pointer;
}
