.drawer {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  margin-top: 55px;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 1s;
  white-space: nowrap;
  z-index: 9;
  /* TODO: ver forma de deixar o margin-top dinâmico de acordo com a altura do header */
}

.drawer--active {
  width: 100vw;
}

.drawer--hidden {
  width: 0;
}

@media screen and (min-width: 420px) {
  .drawer--active {
    width: 33vw;
  }
}

.drawer__title {
  font-size: 20px;
  padding: 16px 32px;
}

.drawer__title i {
  margin-right: 20px;
}

.drawer__title:hover {
  cursor: pointer;
}
