.drawer {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.7s;
  white-space: nowrap;
  z-index: 9;
}

.drawer--active {
  width: 100vw;
}

.drawer--hidden {
  width: 0;
}

@media screen and (min-width: 768px) {
  .drawer--active {
    width: 33vw;
  }
}

.drawer__title {
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
}

.drawer__title i {
  margin-right: 20px;
}

.drawer__title:hover {
  cursor: pointer;
}
