.header {
  background-color: white;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__right {
  display: flex;
}

.header__icon {
  display: flex;
  font-size: 18px;
}

.header__icon:not(:last-child) {
  margin-right: 12px;
}

.header__icon:hover {
  cursor: pointer;
}

.icon__badge {
  background-color: var(--highlight-color);
  border-radius: 50%;
  color: white;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  min-width: 22px;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  transform: translateX(8px) translateY(-14px);
  vertical-align: center;
  z-index: -1;
}

.icon__badge--new {
  background-color: red;
}
