.products {
  padding: 16px;
}

.products__title {
  color: var(--font-color-light);
  font-size: 16px;
}

.products__list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
}

.products__item {
  margin-bottom: 8px;
  min-height: 300px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .products__item {
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  }
}

.loading {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
  color: var(--highlight-color);
  display: flex;
  font-size: 32px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
}

.loading__content {
  text-align: center;
  width: 300px;
}

.loading__message {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
