.products {
  padding: 16px;
}

.products__title {
  color: #a7a7a7;
  font-size: 16px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  margin-bottom: 8px;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .products__item {
    width: 25%;
  }
}
