body {
  background-color: #f9f9f9;
  font-family: Noto Sans SC, sans-serif;
}

.app {
  margin-top: 55px;
  padding-top: 8px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
  }
}

.header {
  background-color: white;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 55px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__right {
  display: flex;
}

.header__icon {
  font-size: 18px;
}

.header__icon:not(:last-child) {
  margin-right: 12px;
}

.header__icon:hover {
  color: #212529d2;
  cursor: pointer;
}

.products {
  padding: 16px 0;
}

.container .products {
  padding: 0 16px;
}

.products__title {
  color: #a7a7a7;
  font-size: 16px;
}

.container .products__cards {
  column-gap: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 8px;
}

@media screen and (min-width: 768px) {
  .container .products__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  box-shadow: 3px 3px 12px -4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.product-image {
  height: 100%;
}

.product-image img {
  width: 100%;
}

.product-image--not-found {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  background-color: #eee;
  color: #777;
  font-weight: bold;
}

.product-card__name {
  color: #212529;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 4px 0;
  text-align: center;
  text-transform: uppercase;
}

.product-card__price {
  font-size: 14px;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 420px) {
  .product {
    flex-direction: row;
  }

  .product figure {
    width: 50%;
  }
}

.product__detail {
  padding: 16px;
}

.product__name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.05rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.product__price {
  color: #a7a7a7;
  font-weight: bold;
  margin-bottom: 16px;
}

.product__price--black {
  color: black;
  margin-right: 8px;
}

.product__size {
  color: #a7a7a7;
  font-size: 14px;
}

.product__size-options {
  margin-bottom: 8px;
  margin-top: 8px;
}

.product__size-option {
  margin-right: 8px;
}

.product__size-option {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  width: 32px;
}

.product__size-option:hover {
  box-shadow: 3px 3px 3px -4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.product__button {
  background-color: #212529;
  border-radius: 8px;
  border: none;
  bottom: 16px;
  box-shadow: 3px 3px 12px -4px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  padding: 8px;
  position: sticky;
  width: 100%;
}

@media screen and (min-width: 420px) {
  .product__button {
    position: static;
  }
}

.product__button:hover {
  background-color: #212529d2;
  cursor: pointer;
}

.drawer {
  background-color: blue;
  width: 100vw;
  position: fixed;
  height: calc(100vh - 55px);
  right: 0;
  z-index: 9;
  top: 0;
  margin-top: 55px;
  border-bottom: 5px solid yellow;
  /* TODO: ver forma de deixar o margin-top dinâmico de acordo com a altura do header */
}

@media screen and (min-width: 420px) {
  .drawer {
    width: 33vw;
  }
}

.drawer__title {
}

.drawer__content {
}
