body {
  background-color: #f9f9f9;
  font-family: Noto Sans SC,sans-serif;
}

.app {
  margin-top: 69px;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}

.header {
  background-color: yellow;
  display: flex;
  height: 55px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header__logo {

}

.products {
  padding: 16px 0;
}

.container .products {
  padding: 0 16px;
}

.products__title {
  color: #a7a7a7;
  font-size: 16px;
}

.container .cards { 
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
  row-gap: 8px;
}

@media screen and (min-width: 768px) {
  .container .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,0.3);
}

.card__image {
  width: 100%
}

.card__image img {
  width: 100%
}

.card__name {
  color: #212529;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 8px 0 4px 0;
}

.card__price {
  font-size: 14px;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
}

.product figure {
  width: 100%;
  margin: 0;
}

.product img {
  width: 100%;
}

@media screen and (min-width: 420px) {
  .product {
    flex-direction: row;
  }

  .product figure {
    width: 50%;
  }
}

.product__detail {
  padding: 16px;
}