.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 728px) {
  .container {
    background-color: red;
    width: 860px;
  }
}

.header {
  background-color: yellow;
  display: flex;
  height: 55px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.header__logo {

}
