.cart {
  display: flex;
  flex: 1;
  padding: 8px;
}

.cart--empty {
  align-items: center;
  display: flex;
  flex: 1;
}

.cart--empty p {
  color: var(--font-color-light);
  font-size: 20px;
  margin: 0 auto;
}

.cart__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

.cart__footer {
  background-color: var(--button-bg-color);
  color: white;
  font-weight: bold;
  padding: 16px;
}

.cart-item {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.cart-item__row {
  display: flex;
  justify-content: flex-start;
}

.cart-item__image {
  margin-bottom: 8px;
  width: 25%;
}

.cart__remove {
  background-color: transparent;
  border: none;
  color: var(--danger-color);
}

.cart__remove:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cart__remove:focus {
  outline: none;
}

.cart-item__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  overflow: hidden;
  padding: 0 8px;
  white-space: pre-wrap;
  width: 45%;
}

.cart-item__price {
  text-align: right;
  width: 30%;
}

.cart__product-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.cart__product-subtitle {
  color: var(--font-color-light);
  font-size: 13px;
}

.change-quantity {
  display: flex;
}

.change-quantity__button {
  align-items: center;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  height: 20px;
  justify-content: center;
  line-height: 20px;
  padding: auto;
  text-align: center;
  width: 26px;
}

.change-quantity__button:focus {
  outline: none;
}

.change-quantity__button:hover {
  background-color: var(--button-bg-color);
  color: white;
  cursor: pointer;
}

.change-quantity__current {
  font-weight: bold;
  padding: 0 12px;
}
